@import './base.css';
/*these styles were imported by default upon the creation of the project, but they weren't what i wanted to use */
#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal; */
}

a,
/* .v-btn--variant-elevated,
.v-btn--variant-flat {
  color: '#E6B89C' !important;
} */
.green {
  text-decoration: none;
  color: #4281a4;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
